@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

.font-logo {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
}
